<div class="post">
  <% if post.image.attached? %>
    <div class="img">
      <%= link_to image_tag(post.image), post_path(post) %>
    </div>
  <% end %>
  <div class="content">
    <%= post.creator.username %>: <%= post.content %>
  </div>
  <div class="date">
    <%= post.created_at.strftime("%B %d, %Y").downcase %>
  </div>
</div>