<div class="content">
  <%= @post.content %>
</div>
<div class="date">
  post submitted on <%= @post.created_at.strftime("%B %d, %Y").downcase %>
</div>
<div class="show-links">
  <%= link_to "edit post", edit_post_path(@post) %>
</div>